<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.design.mrn.matned.dogmanagementapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="pl.design.mrn.matned.dogmanagementapp.activity.LoadingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.StartActivity"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.DogDataActivity"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.HealthActivity"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.SettingsActivity"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.InfoActivity"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.EmergencyActivity"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.Add_DogActivity"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.Edit_DogActivity"/>

        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.add.BreedingActivityAdd"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.add.ChipActivityAdd"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.add.NoteActivityAdd"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.add.OwnerActivityAdd"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.add.TattooActivityAdd"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.add.UniqueSignActivityAdd"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.add.DataChoiceListActivityAdd"/>

        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.edit.BreedingActivityEdit"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.edit.ChipActivityEdit"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.edit.NoteActivityEdit"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.edit.OwnerActivityEdit"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.edit.TattooActivityEdit"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.edit.UniqueSignActivityEdit"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.edit.DataChoiceListActivityEdit"/>

        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.info.BreedingActivityInfo"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.info.ChipActivityInfo"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.info.NoteActivityInfo"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.info.OwnerActivityInfo"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.info.TattooActivityInfo"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.info.UniqueSignActivityInfo"/>
        <activity android:name="pl.design.mrn.matned.dogmanagementapp.activity.dataactivity.info.DataChoiceListActivityInfo"/>





        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="pl.design.mrn.matned.dogmanagementapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
